[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "spectralR"]
	path = spectralR
	url = https://github.com/olehprylutskyi/spectralr
